body {
  font-family: "Arial", sans-serif;
}

.myErrors {
  color: red;
}

.navbar{
padding-left:+20px;
padding-right:+20px;
}

.container-fluid{
width: 88%;
}

.pad {
    padding: 2px 2px 2px 2px;
}
